{{- $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) -}}
{{- $desc := .Description | default site.Params.description -}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ $title }}</title>
<meta name="description" content="{{ $desc }}">
<meta name="author" content="{{ site.Params.author }}">
<link rel="canonical" href="{{ .Permalink }}">
{{- with .OutputFormats.Get "rss" }}
<link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}" title="{{ site.Title }}">
{{- end }}
{{- $css := resources.Get "css/main.css" | resources.ExecuteAsTemplate "css/main.css" . | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- $logo := resources.Get "images/logo.png" -}}
{{- $favicon32 := $logo.Resize "32x32 png" -}}
{{- $favicon192 := $logo.Resize "192x192 png" -}}
{{- $appleTouch := $logo.Resize "180x180 png" -}}
<link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32.RelPermalink }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ $favicon192.RelPermalink }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ $appleTouch.RelPermalink }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300..700&display=swap">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:locale" content="en_GB">
{{- if and .IsPage (eq .Section "posts") }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{- if and .Lastmod (ne .Lastmod .Date) }}
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
{{- end }}
<meta property="article:author" content="{{ site.Params.author }}">
{{- range .Params.tags }}
<meta property="article:tag" content="{{ . }}">
{{- end }}
{{- end }}
{{- if .IsPage -}}
  {{- $hero := partial "hero-pick.html" . -}}
  {{- with $hero -}}
    {{- if ne .MediaType.SubType "svg+xml" -}}
      {{- $og := .Fill "1200x630 webp q85" }}
<meta property="og:image" content="{{ $og.Permalink }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="{{ $.Title }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $og.Permalink }}">
    {{- end -}}
  {{- end -}}
{{- end }}
{{- if or (.HasShortcode "gallery") (.Resources.ByType "image") }}
<link rel="stylesheet" href="/vendor/glightbox/glightbox.min.css">
{{- end }}
