{{- /* Flat sidebar. Constant size. Three sections: top, categories, social. */ -}}
{{- $logo := (resources.Get "images/logo_wide.png").Resize "x80 png" -}}
<aside class="sidebar">
  <h1><a href="/" class="brand"><img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }} logo" height="40">{{ site.Title }}</a></h1>
  <nav>
    <ul>
      {{- range site.Menus.main -}}
        <li><a href="{{ .URL }}"{{ if eq $.RelPermalink .URL }} class="active"{{ end }}>{{ .Name }}</a></li>
      {{- end -}}
    </ul>
    <h2>Categories</h2>
    <ul>
      {{- range site.Menus.categories -}}
        <li><a href="{{ .URL }}"{{ if eq $.RelPermalink .URL }} class="active"{{ end }}>{{ .Name }}</a></li>
      {{- end -}}
    </ul>
    <h2>Elsewhere</h2>
    <ul>
      {{- range site.Menus.social -}}
        <li><a href="{{ .URL }}"{{ if hasPrefix .URL "http" }} rel="noopener" target="_blank"{{ end }}>{{ .Name }}</a></li>
      {{- end -}}
    </ul>
  </nav>
</aside>
