{{- define "main" -}}
<article>
  <h1>{{ .Title }}</h1>
  {{- if not .Date.IsZero -}}
  <div class="post-meta">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
    {{- with .Params.categories -}}
      &nbsp;&middot;&nbsp;
      {{- range $i, $c := . -}}
        {{- if $i }}, {{ end -}}
        <a href="/{{ $c | urlize }}/">{{ $c }}</a>
      {{- end -}}
    {{- end -}}
  </div>
  {{- end -}}
  {{- $hero := partial "hero-pick.html" . -}}
  {{- with $hero -}}
    <img class="post-hero" src="{{ .RelPermalink }}" alt="{{ $.Title }}">
  {{- end -}}
  {{ .Content }}
  {{- if not (.HasShortcode "gallery") -}}
  {{- $images := .Resources.ByType "image" -}}
  {{- $rest := slice -}}
  {{- if $hero -}}
    {{- range $images -}}
      {{- if ne .RelPermalink $hero.RelPermalink -}}{{ $rest = $rest | append . }}{{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if gt (len $rest) 0 -}}
    <div class="post-gallery">
    {{- range $rest -}}
      <img src="{{ .RelPermalink }}" alt="{{ $.Title }}" loading="lazy">
    {{- end -}}
    </div>
  {{- end -}}
  {{- end -}}
</article>
{{- end -}}
