{{- define "main" -}}
<article>
  <h1>{{ .Title }}</h1>
  {{- if not .Date.IsZero -}}
  <div class="post-meta">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
    {{- with .Params.categories -}}
      &middot;
      {{- range $i, $c := . -}}
        {{- if $i }}, {{ end -}}
        <a href="/{{ $c | urlize }}/">{{ $c }}</a>
      {{- end -}}
    {{- end -}}
  </div>
  {{- end -}}
  {{- $images := .Resources.ByType "image" -}}
  {{- with index $images 0 -}}
    <img class="post-hero" src="{{ .RelPermalink }}" alt="{{ $.Title }}">
  {{- end -}}
  {{ .Content }}
  {{- if gt (len $images) 1 -}}
    <div class="post-gallery">
    {{- range after 1 $images -}}
      <img src="{{ .RelPermalink }}" alt="{{ $.Title }}">
    {{- end -}}
    </div>
  {{- end -}}
</article>
{{- end -}}
