<div class="brand-intro">
{{ `I am good at solving hard problems, it doesn't matter what it is. Sometimes I make it look easy, and that makes you think you can go hire someone cheaper or with less experience, without realising it feels easy because I am that damn good at what I do. My value is that I make your life easier. That's why you hired me: I remove friction, not add to it. That's how I am always the go-to person for many teams and individuals. <span class="brand-intro-motto">&ldquo;No Problems, Only Solutions.&rdquo;</span>` | markdownify }}
</div>
