{{- $images := .Page.Resources.ByType "image" -}}
{{- $folder := .Get "folder" -}}
{{- if $folder -}}
  {{- $images = .Page.Resources.Match (printf "%s/*.{jpg,jpeg,png,webp,gif}" $folder) -}}
{{- end -}}
{{- $gallery := .Get "name" | default "gallery" -}}
{{- if $images -}}
<div class="photo-gallery">
  {{- range $images }}
    {{- $thumb := .Resize "400x Lanczos" -}}
    <a href="{{ .RelPermalink }}"
       class="glightbox"
       data-gallery="{{ $gallery }}"
       data-title="{{ .Title | default .Name }}">
      <img src="{{ $thumb.RelPermalink }}"
           alt="{{ .Title | default .Name }}"
           width="{{ $thumb.Width }}"
           height="{{ $thumb.Height }}"
           loading="lazy">
    </a>
  {{- end }}
</div>
{{- end -}}
